# /// script
# requires-python = ">=3.9"
# dependencies = []
# ///
"""Module to update `pyproject.toml` with new entry points."""

from pathlib import Path


def patch_linkcheck() -> None:
    docs_file = Path("docs/conf.py")
    docs = docs_file.read_text()
    source_1 = """
linkcheck_ignore = [
"""
    source_2 = """
linkcheck_ignore = []
"""
    if not (source_1 in docs or source_2 in docs):
        raise ValueError("Replacement failed.")

    docs = docs.replace(
        source_1,
r"""
linkcheck_ignore = [
    r"https://.*\.readthedocs\.io/en/stable/",
"""
    )
    docs = docs.replace(
        source_2,
r"""
linkcheck_ignore = [
    r"https://.*\.readthedocs\.io/en/stable/",
]
"""
    )
    docs_file.write_text(docs)


def patch_theme() -> None:
    """Add GitHub links."""
    docs_file = Path("docs/conf.py")
    docs = docs_file.read_text()

    source = """
html_theme = "pydata_sphinx_theme"
"""
    if source not in docs:
        raise ValueError("Replacement failed.")

    docs = docs.replace(
        source,
"""
html_baseurl = os.environ.get("READTHEDOCS_CANONICAL_URL", "/")
html_js_files = [
    "readthedocs.js",
]
html_theme = "pydata_sphinx_theme"
""",
    ).replace(
"""
from importlib import metadata
""",
"""
import os
from importlib import metadata
""",
        )

    source = """
html_theme_options = {
    "icon_links": [
"""
    if source not in docs:
        raise ValueError("Replacement failed.")

    docs = docs.replace(
        source,
"""
html_theme_options = {
    "icon_links": [
        {
            "name": "ReadTheDocs",
            "url": "https://readthedocs.org/projects/{{ project_slug }}",
            "icon": "fa-solid fa-book",
            "type": "fontawesome",
        },
""",
    )

    docs_file.write_text(docs)


def main() -> None:
    """Edit documentation configuration file."""
    patch_theme()
    patch_linkcheck()

if __name__ == "__main__":
    main()
